.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 24vh;
  width: 100%;
}
.title {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 8px #577ead;
}
.inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 25vh;
  }
  .title {
    font-size: 10vw;
  }
  .inputs{
    flex-direction: column;
    justify-content: space-around;
  }
  .select {
    margin-top: 10px;
  }
}
